name: Build & Release AceStream Menu

on:
  push:
    branches: [main]
    paths:
      - "src/**"
      - "utils/**"
      - "config.json"
      - ".github/scripts/build.ps1"
      - ".releaserc.json"
  workflow_dispatch:

jobs:
  release:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Instalar Herramientas (PS2EXE)
        shell: powershell
        run: Install-Module ps2exe -Force -Scope CurrentUser -AllowClobber

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        with:
          branches: main
          extra_plugins: |
            @semantic-release/exec
            conventional-changelog-conventionalcommits
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
